body {
  background-color: #fff;
  text-align: center; /* 横だけ中央揃え */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1.0s;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  background-color: #f9f9f9;
  margin: 0 auto;
}

/* ホバー時の影を深くする */
.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

/* カード内部の余白 */
.container {
  padding: 2px;
  margin: 2px;
}

/* テキストのスタイル */
.container a {
  font-size: 10px;
  margin-bottom: 0px;
  color: #333;
  text-decoration: none;
}
