body {
  background-color: #6ccca9;
}
.card {
  /* カードの基本的なスタイル */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 影の追加 */
  transition: 0.3s; /* ホバー時のアニメーション効果 */
  border-radius: 5px; /* 角丸 */
  width: 300px; /* カードの幅 */
  background-color: #f9f9f9; /* 背景色 */
  margin: 20px; /* 他の要素との余白 */
}

/* ホバー時の影を深くする */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* カード内部の余白 */
.container {
  padding: 16px;
  display: flex;
  justify-content: center;
}

/* テキストのスタイル */
.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.container p {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}
